<div class="paciente-container">
  <form [formGroup]="pacienteForm" novalidate>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="m-2">
          <mat-form-field class="full-width">
            <input matInput aria-label="cpf" type="text" formControlName="cpf" placeholder="CPF">
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="m-2 btn-align">
          <button mat-flat-button class="mat-button" (click)="buscar()">Buscar</button>
        </div>
      </div>
    </div>
  </form>

  <div class="container-grid mat-form-field-wrepper">
    <div class="container-table flat-table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef style="width: 50%"> Nome </th>
          <td mat-cell *matCellDef="let element" style="width: 50%"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef style="width: 50%"> CPF </th>
          <td mat-cell *matCellDef="let element" style="width: 50%"> {{element.cpf}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div *ngIf="dataSource.data && !dataSource.data.length" class="datasource-empty">
        Nenhum paciente
      </div>
    </div>
  </div>
</div>