/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-table {
    border-radius: 3px;
    border: solid 1px #c8c8c8;
    margin: 0;
    overflow: auto;
}

.flat-table{
    padding: 0;
    width: 98%;
    margin-left: 15px;
    margin-top: 15px;
    
}

.flat-table .mat-table{
    width: 100%;
}

.mat-table{
    width: 100%;
}

.mat-elevation-z8{
    box-shadow: none;
}

.mat-button{
    background-color: #c8c8c8;
    color: black;
}

.flat-table .mat-elevation-z8{
    box-shadow: none;
}

.datasource-empty{
    text-align: center;
    padding: 15px;
    font-style: italic;
}

.btn-align{
    padding-top: 5px;
}

.mat-form-field-wrepper{
    padding-bottom: 1.34375em;
}

.tab-group-margin{
    margin-bottom: 10px;
}

.container-table flat-table {
    border-radius: 3px;
    border: solid 1px #c8c8c8;
    margin: 0;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
}
