<app-toolbar></app-toolbar>
<div class="home">
    <div class="apesentacao">
    <h1>Olá {{currentUser.nome}}!</h1>
    <p>Bem vindo ao seu portal de atendimento</p>
</div>
</div>
<div class="cards">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Consultas na sua mão</mat-card-title>
            <mat-card-subtitle>Tenha todo o historico do seu paciente</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSebcba1j6XLb6D0jNBeIxTGLk4FFL2oMdiJA&usqp=CAU" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>Aqui você pode acompanhar todo o Historico de consultas do seu paciente, de forma facil e rapida!</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Gerencie suas consultas</mat-card-title>
            <mat-card-subtitle>Tenha todas as suas consultas realizadas </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSebcba1j6XLb6D0jNBeIxTGLk4FFL2oMdiJA&usqp=CAU" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>Aqui você pode acompanhar todoas as consultas que você ralizou ou que irá realizar</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Gere prontuarios</mat-card-title>
            <mat-card-subtitle>De forma rapida e simples</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSebcba1j6XLb6D0jNBeIxTGLk4FFL2oMdiJA&usqp=CAU" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>Aqui você pode gerar os prontuarios das suas consultas de forma simples</p>
        </mat-card-content>
    </mat-card>
</div>

<div class="fim">
</div>

