.login{

    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: auto;
    padding: 20px 0 28px;
    width: 396px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  
  .button {
    display: flex;
    justify-content: flex-end;
  }
